body, html {
    height: 90%;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 99.5%;
  }
  
  .toggle-snowflakes button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    margin-left: -25px;
  }
  
  .toggle-snowflakes button:hover {
    text-decoration: none;
  }
  
  .schedule-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .search-box {
    background-color: rgba(225, 225, 225);
    border-radius: 10px 90px 10px 90px;
    padding: 40px;
    width: 400px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form-value {
    width: 100%;
    text-align: center;
  }
  
  .inputbox {
    position: relative;
    margin: 20px 0;
    width: 100%; 
    border-bottom: 2px solid #000;
  }
  
  .inputbox input, .inputbox select {
    width: calc(100% - 40px);
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #070606;
  }
  
  .inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #000;
    font-size: 1.2em;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    width: 100px;
  }
  
  .button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }
  